%h1 Search

= form_tag search_path, :method => :get do
  %p
    = text_field_tag :search, params[:search]
    = hidden_field_tag :price, params[:price]
    = submit_tag "Search", name: nil

#facets
  %h3 Filter By Price
  %ul
    - @search.facet(:price).rows.each do |row|
      %li
        = link_to row.value, price: row.value, search: params[:search]
        ( #{ row.count } )


#results
  - @results.each do |result|
    %h2= link_to result.name, result
    .description= result.description